*node_modules
*/log
.env
*.memory-card.json
lib

**/__pycache__
*.pyc
*.egg-info

.DS_Store
.vscode
.gitignore
pdf
word
venv

_data

_data_chatgpt

.vscode

VITS-Paimon

pythia-70m-deduped

venv

models--ClueAI--ChatYuan-large-v1

transformers


test.wav

G_1434000.pth

results
