uvicorn
fastapi
pdf2docx==0.5.6
python-multipart==0.0.5
torch

# torchvision
# torchaudio
sentencepiece

pydantic


protobuf==3.20
# tensorboardX


Cython
librosa
matplotlib
numpy
phonemizer
scipy
Unidecode
pypinyin
